<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>PGDPersonalizados - Pedidos</h1>

<a href="/cliente/">Cadastrar Cliente</a><br>
<a href="/produto/">Cadastrar Produto</a><br>
<a href="/pedido/">Novo Pedido</a>

<ul>
    {% for p in pedidos %}
        <li>
            Cliente: {{ p.cliente.nome }} |
            Produto: {{ p.produto.nome }} |
            Qtd: {{ p.quantidade }} |
            Total: R$ {{ p.total }}

            <a href="/excluir/{{ p.id }}/">Excluir</a>
        </li>
    {% endfor %}
</ul>

</body>
</html>


